/.idea/covid19-sim.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/vcs.xml
/.idea/workspace.xml
/.idea/misc.xml
/.idea/.name
/.idea/
/streamlit

/app.py/.idea/app.py.iml
