/.idea/covid19-sim.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/vcs.xml
/.idea/workspace.xml
/.idea/misc.xml
/.idea/.name
/.idea/
/streamlit

/app.py/.idea/app.py.iml
/pp.html
/countrydata_df_OLD.csv
/OLG Model notebook.ipynb
/.ipynb_checkpoints                                a ddddddd///ZHJa zbzz vvvvvvvvvvvvvv

/stringencyExample.csv
/logs/
/gstat_app/src/assets/multiselect-master/
/ModelsCode/OLGModel/.ipynb_checkpoints/
/Resources/Datasets/IsraelData/yishuv_20200420.csv
/Resources/Datasets/IsraelData/yishuv_20200424.csv
/Resources/Datasets/IsraelData/yishuv_20200429.csv
/Resources/Datasets/IsraelData/yishuv_20200430.csv
/ETL/DW/raw_data/gov_data/covid19-data-israel-23042020.xlsx
/gstat_app/src/assets/multiselect-master/styles/mselect.css
/Resources/Datasets/IsraelData/yishuv_20200501.csv
/Resources/Datasets/IsraelData/yishuv_20200502.csv
/ETL/DW/raw_data/gov_yishuv/כלל_הארץ_ומועצות_אזוריות_01_05_לפרסום.xlsx
/ETL/DW/raw_data/gov_yishuv/כלל_הארץ_ומועצות_אזוריות_02_05_שעה_08_00_לפרסום.xlsx
/ETL/DW/raw_data/gov_yishuv/דוח_חדש_כלל_הארץ_כולל_מועצות_אזוריות_04_05_20_שעה_20_30.xlsx
/Resources/Datasets/IsraelData/yishuv_20200504.csv
/ETL/DW/raw_data/gov_yishuv/כלל_הארץ_כולל_מועצות_אזוריות_לפרסום_05_05_שעה_11_00.xlsx
/ETL/DW/raw_data/gov_yishuv/*.xlsx
/Resources/Datasets/IsraelData/yishuv_20200505.csv
/Resources/Datasets/IsraelData/yishuv_20200506.csv
/Resources/Datasets/IsraelData/yishuv_2020*.csv
